@page
@model PonderalCorpulenceIndexModel
@{
    ViewData["Title"] = "Ponderal/Corpulence Index Calculation";
}
@*
    @functions
    {
        public class IndexModel : PageModel
        {
            public string Message { get; private set; } = "In page model: ";

            public void OnGet()
            {
                Message += $" Server seconds  { DateTime.Now.Second.ToString() }";
            }
        }
    }
*@
<html>
<body>
    <h1>@ViewData["Title"]</h1>
    <div asp-validation-summary="All"></div>
    <form asp-controller="PonderalCorpulenceIndex"
          asp-action="Calculate"
          method="post">
        <div class="row">
            <label class="col-xs-4" asp-for="Mass">Mass</label>
            <label class="col-xs-2" asp-for="Mass">[kg]:</label>
            <input class="col-xs-6" asp-for="Mass" />
        </div>
        <div class="row">
            <label class="col-xs-4" asp-for="Height">Height</label>
            <label class="col-xs-2" asp-for="Height">[m]:</label>
            <input class="col-xs-6" asp-for="Height" />
        </div>
        <div class="row">
            <div class="col-xs-4"></div>
            <div class="col-xs-2"></div>
            <input class="col-xs-2" value="Calculate Form POST" type="submit" asp-page-handler="PonderalCorpulenceIndex" />
            <input class="col-xs-2" value="Calculate API WebAPI" type="button" />
            <input class="col-xs-2" value="Calculate API SignalR" type="button" />
        </div>
    </form>

    <div>
        <div class="row">
            <div    class="col-xs-4">PonderalCorpulenceIndex = </div>
            <div    class="col-xs-2"></div>
            <label  class="col-xs-4" for="PonderalCorpulenceIndex">@Model.PonderalCorpulenceIndex.ToString("0.00")</label>
        </div>
        <div class="row">
            <a asp-for="UrlAPI" for="UrlAPI" href="@Model.UrlAPI">@Model.UrlAPI</a>
        </div>
    </div>
</body>
</html>
