[submodule "externals/submodules/Bluetooth.32feet"]
	path = externals/submodules/Bluetooth.32feet
	url = https://github.com/inthehand/32feet.git
[submodule "externals/submodules/Monkey.BluetoothLE"]
	path = externals/submodules/Monkey.BluetoothLE
	url = https://github.com/moljac/Monkey.BluetoothLE.git
