@page
@model IndexModel
@{
}

@{
    ViewData["Title"] = "Ph4ct3x - Diagnostic Tests - Motorical";
}
<html>
<body>
    <h1>@ViewData["Title"]</h1>
    <ul>
        <li>
            <a asp-page="./MaxLoadApproximation">
                Approximation for 1RM (1 repetitio/rep maximum, one repetition max) AKA Max Load
            </a>
        </li>
    </ul>
</body>
</html>
