@page "/ph4ct3x"

<h1>Ph4ct3x</h1>

    <ul class="flex-column">
        <li>
            <NavLink href="ph4ct3x/diagnostic-tests/"
                     class="" Match="NavLinkMatch.All">
                Diagnostic Tests
            </NavLink>
            <ul>
                <li>
                    <NavLink href="ph4ct3x/diagnostic-tests/"
                             class="" Match="NavLinkMatch.All">
                        Motorical
                    </NavLink>
                    <ul>
                        <li class="px-3">
                            <NavLink href="ph4ct3x/diagnostic-tests/motorical/max-load-1rm-approximations"
                                     class="" Match="NavLinkMatch.All">
                                Max Load 1RM Approximations
                            </NavLink>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul>
                <li>
                    <NavLink href="ph4ct3x/diagnostic-tests/morphological"
                             class="" Match="NavLinkMatch.All">
                        Morphological
                    </NavLink>
                    <ul>
                        <li>
                            <NavLink href="ph4ct3x/diagnostic-tests/morphological/somatotype"
                                     class="" Match="NavLinkMatch.All">
                                SomatoType
                            </NavLink>
                            <ul>
                                <li class="px-3">
                                    <NavLink href="ph4ct3x/diagnostic-tests/morphological/somatotype/heath-carter"
                                             class="" Match="NavLinkMatch.All">
                                        Heath Carter
                                    </NavLink>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul>
                <li>
                    <NavLink href="ph4ct3x/diagnostic-tests/physiological"
                             class="" Match="NavLinkMatch.All">
                        Physiological
                    </NavLink>
                    <ul>
                        <li>
                            <li class="px-3">
                                <NavLink href="ph4ct3x/diagnostic-tests/physiological/max-heart-rate"
                                        class="" Match="NavLinkMatch.All">
                                    Heath Carter
                                </NavLink>
                            </li>
                        </li>
                    </ul>
                </li>
            </ul>

        </li>   
    </ul>

