@page
@model IndexModel
@{
    ViewData["Title"] = "Home page Judo";
}

<div class="text-center">
    <h1 class="display-4">Judo</h1>

    <h2>IJF</h2>
    <p>
        <a href="IJF/SearchAll/">Search All</a>
    </p>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>
